@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

*{
    box-sizing: border-box;
}

html{
    min-height: 100%;
}

body{
    background: #181818;
    margin: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 21px;
    font-family: Inconsolata, monospace;
}

.hidden{
    display: none !important;
}

#sliderArea{
    // display: flex;
    // flex-direction: row;
    // align-items: flex-end;
    display: grid;
    grid-template-rows: auto 1fr auto auto auto;
    justify-content: right;

    .view-HueSlider{
        grid-column: 5 / 6;
        grid-row: 1 / 4;
    }
    .view-SatSlider{
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    .view-ValSlider{
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }
    .view-RedSlider{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .view-GreenSlider{
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    .view-BlueSlider{
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }
    .view-AlphaSlider{
        grid-column: 5 / 6;
        grid-row: 4 / 5;
    }
    #mainInput{
        grid-column: 2 / 6;
        grid-row: 5 / 6;
    }
    #mainColorDisplay{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    #satValSlider{
        grid-column: 2 / 5;
        grid-row: 1 / 3;
    }
    #modeCopyController{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}


input{
    margin: 0;
    border: 1px solid #000;
    box-sizing: border-box;
    background: #181818;
    color: #aaa;
    font-size: 21px;
    font-family: Inconsolata, monospace;
    padding: 5px 0px 5px 8px;
    letter-spacing: 1px;

    &.invalid{
        background: #200e0e;
    }
}

%sliderBlock{
    border-radius: 8px;
    border: 1px solid #000;
    background: #222;
    padding: 5px;
}

.vbar{
    @extend %sliderBlock;
    width: 90px;
    display: flex;
    flex-direction: column;

    .topperOuter,
    .numberWrapper{
        border-radius: 4px;
        overflow: hidden;
        height: 42px;
        flex-grow: 0;
        flex-shrink: 0;
        border: 1px solid #000;
    }

    .sliderOuter{
        $vMargin: 12px;
        // height: 256px + $vMargin*2;
        padding: $vMargin 0;
        position: relative;

        .sliderInner{
            box-sizing: content-box;
            height: 256px;
            background: linear-gradient(#ff0000, #000000);
            //position: absolute;
            border: 1px solid #000;
            top: $vMargin - 1px;
            left: 3px;
            right: 3px;
            border-radius: 3px;
        }

        .sliderMarker{
            box-sizing: content-box;
            position: absolute;
            left: 0px;
            right: 0px;
            margin-top: $vMargin - 7px;
            top: 180px;
            height: 1px;
            border: 7px solid #ccc;
            background: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
        }
    }

    .topperOuter{
        background-image: url(checkers.png);

        .topper{
            background-color: rgb(75, 0, 0);
            width: 100%;
            height: 100%;
        }
    }

    .numberWrapper{
        display: flex;

        .numberBox{
            border: 0px none;
            width: 0px;
            flex-shrink: 1;
            flex-grow: 1;
            padding-right: 0;
        }

        .arrowWrapper{
            display: flex;
            flex-direction: column;
        }
        .arrow{
            padding: 10px 3px 0;
            line-height: 0;
            flex-grow: 1;
            flex-shrink: 1;
            background: #333;
            color: #aaa;
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            &:hover{
                background: #555;
            }

            &:active{
                background: #181818;
            }
        }

        .arrowUp{
            border-bottom: 1px solid #000;
        }
    }
}

.controlGroup{
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #000;
    &:not(:last-child) {
        margin-bottom: 5px;
    }

    input{
        border: 0px none;
        flex-grow: 1;
    }

    .button{
        position: relative;
        padding: 5px 8px 6px;
        background: #333;
        color: #aaa;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        min-width: 34px;
        &:not(:first-child) {
            border-left: 1px solid #000;
        }

        &:hover{
            background: #555;
        }

        &:active{
            background: #181818;
        }

        &.active{
            background: #999;
            color: #000;
        }

        .desc{
            padding-left: 1ch;
            font-size: 85%;
            display: inline-block;
            height: 18px;
        }

        .buttonSuccessToast{
            padding: inherit;
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #555;
            color: inherit;
            opacity: 1.0;
            pointer-events: none;
            transition: opacity 0.5s;
            text-align: center;

            &.fade{
                opacity: 0.0;
            }
        }
    }
}

.controlGroup.vertical{
    flex-direction: column;

    .button{
        border-left: 0px none;
        &:not(:first-child):not(.first) {
            border-top: 1px solid #000;
        }
        text-align: left;
    }
}

#mainInput{
    @extend %sliderBlock;
    width: auto;
}

#mainColorDisplay{
    @extend %sliderBlock;
    display: flex;

    .inner{
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid #000;
        background: url(checkers.png);
        flex-grow: 1;

        .solid, .alpha{
            flex-grow: 1;
        }
    }
}

#satValSlider{
    @extend %sliderBlock;
    display: flex;
    padding: 16px;

    .sliderOuter{
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        position: relative;

        .sliderInner{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(#0000, #000), linear-gradient(to right, #fff, #fff0);
            background-color: #f00;
        }

        .sliderMarker{
            position: absolute;
            width: 2px;
            height: 2px;
            left: 50px;
            top: 50px;
            margin-top: -1px;
            margin-left: -1px;

            border-color: #fff;

            $crossHairRadius: 6px;
            $crossHairMargin: 2px;

            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: - $crossHairRadius - $crossHairMargin;
                width: 2px + 2*$crossHairMargin;
                height: 2px;
                border-left: $crossHairRadius solid #fff;
                border-right: $crossHairRadius solid #fff;
                border-color: inherit;
            }
            &:after{
                content: '';
                position: absolute;
                top: - $crossHairRadius - $crossHairMargin;
                left: 0;
                width: 2px;
                height: 2px + 2*$crossHairMargin;
                border-top: $crossHairRadius solid #fff;
                border-bottom: $crossHairRadius solid #fff;
                border-color: inherit;
            }
        }
    }
}


#modeCopyController{
    @extend %sliderBlock;
    display: grid;
    grid-gap: 5px;

    .mainMode{ grid-area: 1 / 1 / 2 / 3}
    .previews{ grid-area: 2 / 1 / 3 / 2}
    .copys{    grid-area: 2 / 2 / 3 / 3}

    .controlGroup{
        margin: 0;
    }

    .previews .button{
        text-align: center;
    }
}

#gradientController{
    position: absolute;
    left: 250px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
    background: #181818;

    .gradientSwatch{
        height: 150px;
        width: 150px;
        border-radius: 8px;
        // flex-grow: 1;
        flex-shrink: 1;
        position: relative;
        background-image: url(checkers.png);

        $addBeforeAfterRadius: 20px;
        .addBefore,
        .addAfter,
        .addMultiBefore,
        .duplicate,
        .delete{
            position: absolute;
            height: $addBeforeAfterRadius*2;
            text-align: center;
            cursor: pointer;
            z-index: 3;
            padding: 8px;
            font-size: 23px;
            color: #fff0;
            transition: color 0.2s;

            &:hover{
                color: #ffff;
            }

            &:before{
                content: "";
                z-index: -1;
                position: absolute;
                top: $addBeforeAfterRadius;
                bottom: $addBeforeAfterRadius;
                left: 0;
                right: 0;
                background: #181818;
                transition: top ease-in 0.15s, bottom ease-in 0.15s;
                border-radius: 5px;
            }

            &:hover:before{
                top: 0px;
                bottom: 0px;
                transition: top ease-out 0.15s, bottom ease-out 0.15s;
            }
        }

        &:hover .addBefore,
        &:hover .addAfter,
        &:hover .addMultiBefore,
        &:hover .duplicate,
        &:hover .delete{ color: #fff3; }

        .addBefore, .addMultiBefore{ top: -$addBeforeAfterRadius; }
        .addBefore, .addAfter{
            left: 30%;
            right: 30%;
        }
        .addMultiBefore{
            left: 70%;
            right: 0%;
        }
        .addAfter{ bottom: -$addBeforeAfterRadius; }
        &:not(:last-child) .addAfter{ display: none; }
        &:first-child .addMultiBefore{ display: none; }
        .duplicate{
            left: -$addBeforeAfterRadius;
            width: 2*$addBeforeAfterRadius;
            top: 50%;
            bottom: auto;
            margin-top: -$addBeforeAfterRadius;
        }

        &:only-child .delete{
            display: none;
        }
        .delete{
            right: -$addBeforeAfterRadius;
            left: auto;
            width: 2*$addBeforeAfterRadius;
            top: 50%;
            bottom: auto;
            margin-top: -$addBeforeAfterRadius;
        }

        &:not(.active) .isActive{
            display: none;
        }
        .isActive{
            position: absolute;
            left: 8px;
            top: 8px;
            font-size: 20px;
        }
    }
}
#gradientController .gradientSwatch:hover + .gradientSwatch .addBefore{
    color: #fff3;
}
#gradientController .gradientSwatch:hover + .gradientSwatch .addMultiBefore{
    color: #fff3;
}

#gridControllerWrapper{
    position: absolute;
    left: 250px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    justify-content: center;
    z-index: 5;
}
#gridController{
    pointer-events: auto;
    background: #181818;
    border: 1px solid #000;
    border-radius: 8px;
    position: relative;

    font-size: 72px; // We define font size here to be used as em units in positioning

    .elementArea{
        position: relative;
        margin: 32px;
    }

    #gridRenderCanvas{
        position: absolute;
        top: 32px;
        left: 32px;
        right: 32px;
        bottom: 32px;
        background-image: url(checkers.png);
        width: auto;
        height: auto;
    }

    .gridSwatch{
        display: block;
        box-sizing: border-box;
        $radius: 26px;
        width: $radius * 2;
        height: $radius * 2;
        border-radius: 4px;
        position: absolute;
        margin-left: -$radius;
        margin-bottom: -$radius;

        background-image: url(checkers.png);
        background-position: center center;

        border: 2px solid #000;
        color: #000;

        &.light{
            // border-color: #e7e7e7;
            color: #e7e7e7;
        }

        &.unlocked{
            border-style: dashed;
            background: transparent;
        }

        // Add transitions for hover states
        transition: all linear 0.05s;

        .isActive{
            position: absolute;
            left: 50%;
            bottom: 50%;
            margin-bottom: -2px;
            font-size: 20px;
        }
        &:not(.active) .isActive{
            display: none;
        }
    }

    &:not(:hover) .gridSwatch{
        // The swatches get smaller when we aren't hovering

        $radius: 8px;

        width: $radius * 2;
        height: $radius * 2;
        border-radius: $radius;
        margin-left: -$radius;
        margin-bottom: -$radius;
        border-color: transparent;

        &.unlocked{ opacity: 0; }
    }
}

#historyView{
    position: absolute;
    width: 200px;
    left: 0px;
    top: 0;
    bottom: 0;
    background: #181818;
    padding-right: 10px;

    .historyGrad{
        margin-bottom: 2px;
        height: 30px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        display: grid;
        overflow: hidden;
    }

    .controlGroup{
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
}

#previewCanvasCtx, #previewCanvasGl{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(checkers.png);
}
